@import "styles/sass-utils/indexUtils.scss";

.div {
    align-items: center;
    color: $darkGray;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
    text-align: center;

    .imgDiv {
        position: absolute;
        bottom: 28em;
    }
}
