@import "styles/sass-utils/indexUtils.scss";

.product {
    background-color: $background-color-white;
    border-radius: 5px;
    margin: $value-16px 0 32px 0;

    .productDetails {
        display: inline-flex;
        padding: 0;
        width: 100%;

        .foto {
            align-items: center;
            display: flex;
            justify-content: center;
            margin-left: 32px;
        }

        .details {
            padding: $value-32px 32px 0 0;

            .condition,
            .title,
            .price {
                margin-bottom: 0;
            }

            .condition {
                font-size: 14px;
            }

            .title {
                font-size: 24px;
                margin-top: $value-16px;
            }

            .price {
                font-size: 46px;
                padding: $value-32px 0 $value-32px 0;
            }
        }

        .buy {
            font-size: 20px;

            width: 100%;
            background-color: $color-buy-blue;
            transition: 0.5s;

            .buy:hover {
                background: $background-color-white;
                border: 5px, solid, $color-buy-blue;
                color: $color-buy-blue;
            }
        }
    }
}

.description {
    padding: $value-32px $value-32px $value-32px $value-32px;
    margin-left: 0;
    width: 100%;
    word-break: break-word;

    .descriptionTitle {
        margin-bottom: $value-32px;
        font-size: 28px;
    }

    .descriptionText {
        font-size: 16px;
        color: $font-color;
    }
}

@media (max-width: 1024px) {
    .product {
        .productDetails {
            .details {
                .title {
                    font-size: 24px;
                }

                .price {
                    font-size: 35px;
                }

                .descriptionTitle {
                    font-size: 24px;
                }

                .descriptionText {
                    font-size: 18px;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .product {
        border-radius: 0;

        .productDetails {
            display: inline;

            .foto {
                margin-left: 0;
            }

            .details {
                padding: 25px 25px 0 25px;

                .price {
                    font-size: 27px;
                }
            }

            .buy {
                font-size: 18px;
            }
        }
    }

    .productDetails {
        .details {
            .descriptionTitle {
                font-size: 22px;
                text-align: center;
            }

            .descriptionText {
                font-size: 14px;
                text-align: center;
            }
        }
    }
}
