// breakpoints
$xs: 320px;
$sm: 576px;
$md: 768px;
$lg: 1024px;

// colors & styling
$primaryYellow: #ffe600;
$black: #333333;
$darkGray: #999999;
$lightGray: #eeeeee;
$color-fondo-gray: #e7e7e7;
$color-buy-blue: #3483fa;
$font-color: #999999;
$background-color-white: white;
$hover-search: #efefef;
$box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);

// values
$value-32px: 32px;
$value-16px: 16px;
$title-search-size: 18px;

// aligns & displays
$justify-align-center: center;
$inline-flex: inline-flex;
